@import url(style/navbar.css);
@import url(style/diferente.css);
@import url(style/estatistica.css);
@import url(style/vagas.css);
@import url(style/oportunidades.css);
@import url(style/relato.css);

:root{
    --fonte-primaria: "Inter", sans-serif;
    --Cor-azul: #3A404E;
    --Cor-azul-escuro: #101828;
    --Cor-cinza: #667085;
    --Cor-vinho: #8E2424;
    --Cor-Branco: #FFFFFF;

}

body{
    font-family: var(--fonte-primaria);
    font-size: 1em;
    color: var(--Cor-cinza);
}