.estatistica{
    display: flex;
    justify-content: space-between;
    margin: 3em 4em;

}
.estatistica_box{
    margin: 0 7em 0 0;
    padding: 1em;
    
}


.estatistica-box-titulo{
    font-size: 3.75em;
    color: var(--Cor-vinho);
    font-weight: 600;
    padding:0 0 0.2em 0;

}

.estatistica-box-subtitulo{
    font-size: 1.125em;
    font-weight: 500;
    color: var(--Cor-azul-escuro);
    padding:0 0 0.5em 0;
}

.estatistica-box-texto{
    font-weight: 400;
    padding:0 0 0.2em 0;

}