.vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    margin: 1em 4em;

}

.box__vagas{
margin: 0 auto;
}


.box__vagas-titulo{
    font-size: 0.875em;
    font-weight: 500;
    color: var(--Cor-vinho);
    border-radius: 16px;
    width: 20%;
    height: auto;
    background: rgba(142, 36, 36, 0.05);
    margin: 0 auto 2em auto;


}

.box__vagas-subtitulo{
    font-weight: 600;
    font-size: 3em;
    color: var(--Cor-azul-escuro);
    padding: 0 0 1em 0;
}
.box__vagas-texto{
    font-weight: 400;
    font-size: 1.125em;
    margin: 0 0 2em 0;
}

